<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Credit Card Payment Allocation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <h1></h1>
    <div class="container">
        <div ng-app="myApp" ng-controller="myCtrl" name="myForm">
            <div>
                <p>budget:</p><input ng-model="budget" type="text" ng-required="true" min="0">
            </div>
            <br>
            <div class="row">
                <div id="userinput" class="col big-box">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Balance</th>
                            <th>APR</th>
                            <th>Minimum Payment</th>
                            <th>Maximum Payment</th>
                            <th>Current Payment</th>
                        </tr>
                        <!-- can easily have bounds since we have each property of the cards -->
                        <tr ng-repeat="card in cards">
                            <td><input ng-model="card.cardNickName" type="text" ng-required="true"></td>
                            <td><input ng-model="card.cardBalance" min="0" type="number" ng-required="true"></td>
                            <td><input ng-model="card.cardApr" type="number" ng-required="true" min="0" max="100"></td>
                            <td><input ng-model="card.minPayment" min="0" type="number" ng-max="{{card.cardBalance}}"
                                    ng-required="true"></td>
                            <td><input ng-model="card.maxPayment" type="number" ng-min="{{card.minPayment}}"
                                    ng-max="{{card.cardBalance}}"></td>
                            <td><input ng-model="card.actualPayments" type="number" ng-min="{{card.minPayment}}"
                                    ng-max="{{card.cardBalance}}" ng-required="true"></td>
                        </tr>
                    </table>

                    <br>

                    <div>
                        <button ng-click="addCard()">New Card</button>
                        <button ng-click="getData()">Get Optimal Payment</button>
                    </div>
                </div>

                <!-- Note that we bind the data and lebels here! so we could have many charts!! -->
                <div class="col">
                    <div class="row">
                        <div class="col mini-box">
                            <!-- current -->
                            <canvas id="doughnut" width="auto" height="auto" class="chart chart-doughnut"
                                chart-data="currentPaymentData" chart-labels="labels"></canvas>
                        </div>
                        <div class="col mini-box">
                            <!-- suggested -->
                            <canvas id="doughnut" width="auto" height="auto" class="chart chart-doughnut"
                                chart-data="suggesteddata" chart-labels="labels"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div ng-show="progressLabels">
                <div>
                    <select ng-model="selectedName" ng-options="label for label in progressLabels"></select>
                </div>
                <br>
                <p>Remaining Balance</p>
                <br>
                <div style="width: 80%">
                    <canvas id="bar" width="auto" height="auto" class="chart chart-bar"
                        chart-data="specificSeriesData()" chart-labels="months" chart-series="series"
                        chart-options="options" chart-click="onClick">
                    </canvas>
                </div>
            </div>

        </div>
    </div>
</body>

<script type="text/javascript">
    var app = angular.module('myApp', ["chart.js"]);
    app.controller('myCtrl', function ($scope, $http) {
        // initialize some cards
        $scope.cards = [
            { cardNickName: 'Prime', cardBalance: 100, cardApr: 10, minPayment: 5, maxPayment: 5, actualPayments: 10 },
            { cardNickName: 'United', cardBalance: 200, cardApr: 15, minPayment: 7, maxPayment: 7, actualPayments: 10 }
        ];

        // The budget
        $scope.budget = 20;

        // Add cards: TODO - user must have different nicknames for all cards
        $scope.addCard = function () {
            $scope.cards.push({ cardNickName: 'New', cardBalance: null, cardApr: null, minPayment: null, maxPayment: null });
        };

        // this is for the bar chart
        $scope.onClick = function (points, evt) {
            console.log(points, evt);
        };

        // this function will be used to get the proper data for the selected card
        $scope.specificSeriesData = function () {
            if ($scope.progressSeries) {
                return $scope.progressSeries[$scope.selectedName].data;
            }
        };

        // this will get the optimal data solely for one month
        $scope.getOptimal = function () {
            var dataObj = {
                budget: $scope.budget,
                cards: $scope.cards
            };

            var url = 'https://ccrdapi.herokuapp.com/cards';

            $http.post(url, dataObj).then(function (response) {

                $scope.updatedData = response.data;
                $scope.suggesteddata = response.data.updatedCards.map(x => x.suggestedPayment);
                $scope.labels = response.data.updatedCards.map(x => x.cardNickName);
                $scope.currentPaymentData = response.data.updatedCards.map(x => x.actualPayments);

            }, function (error) {

                console.log(error)

            });
        };

        // this will get the next 13 months data. Obviously the stupid assumption of constant payment is bad
        $scope.getProgress = function () {
            var dataObj = {
                budget: $scope.budget,
                cards: $scope.cards
            };

            console.log(dataObj);

            var url = 'https://ccrdapi.herokuapp.com/cards/12';

            $http.post(url, dataObj).then(function (response) {

                $scope.progressData = response.data;
                $scope.progressLabels = $scope.labels.map(x => x);
                $scope.progressLabels.push('TOTAL');
                $scope.months = response.data.progress[0].projection.map(x => Object.keys(x)[0]);
                $scope.series = ["Minimum Payments", "Current Payments", "Suggested Payments"];
                // complication - might want to have tabs so that user can actually select which card to use!
                // tab names would be the card nicknames already bound to label
                // so we can generate a dinctionay where key - card nickname and value is: array of 3 serries :)
                var progress = response.data.progress;
                var progressArray = {};
                var totalArray = [
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], // minArray
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], // current
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0] // suggested
                ];

                for (i = 0; i < progress.length; i++) {
                    var thename = progress[i].cardNickName;
                    var minArray = [];
                    var currentArray = [];
                    var suggestedArray = [];
                    var projection = progress[i].projection;

                    for (j = 0; j < projection.length; j++) {
                        var vals = Object.keys(projection[j]).map(function (key) {
                            return projection[j][key];
                        });

                        minArray.push(vals[0].nextBalanceOnMin);
                        currentArray.push(vals[0].nextBalanceOnCurrentPayment);
                        suggestedArray.push(vals[0].nextBalanceOnSuggested);
                    };

                    // add the total
                    totalArray[0] = [...minArray.keys()].map(k => totalArray[0][k] + minArray[k]);
                    totalArray[1] = [...minArray.keys()].map(k => totalArray[1][k] + currentArray[k]);
                    totalArray[2] = [...minArray.keys()].map(k => totalArray[2][k] + suggestedArray[k]);

                    progressArray[thename] = {
                        'cardNickName': thename,
                        'data': [
                            minArray,
                            currentArray,
                            suggestedArray
                        ]
                    };
                };

                progressArray['TOTAL'] = {
                    'cardNickName': 'TOTAL',
                    'data': totalArray
                };
                $scope.progressSeries = progressArray;
                $scope.selectedName = 'TOTAL';

            }, function (error) {

                console.log(error)

            });
        };

        // this just brings together the two functions for that reach the API
        $scope.getData = function () {
            $scope.getOptimal();
            $scope.getProgress();
        };
    });
</script>

</html>