<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Credit Card Payment Allocation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div ng-app="myApp" ng-controller="myCtrl" name="myForm" class="container" style="margin-top:1em;">
        <div class="form-group row">
            <label for="budget" class="col-sm-1 col-form-label"><strong>Budget</strong> </label>
            <div class="col-sm-2">
                <input ng-model="budget" type="text" ng-required="true" min="0" class="form-control">
            </div>
        </div>

        <div class="row" id="userinput">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Balance</th>
                        <th scope="col">APR</th>
                        <th scope="col">Minimum Payment</th>
                        <th scope="col">Maximum Payment</th>
                        <th scope="col">Current Payment</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- can easily have bounds since we have each property of the cards -->
                    <tr ng-repeat="card in cards">
                        <td><input ng-model="card.cardNickName" type="text" ng-required="true"></td>
                        <td><input ng-model="card.cardBalance" min="0" type="number" ng-required="true"></td>
                        <td><input ng-model="card.cardApr" type="number" ng-required="true" min="0" max="100"></td>
                        <td><input ng-model="card.minPayment" min="0" type="number" ng-max="{{card.cardBalance}}"
                                ng-required="true"></td>
                        <td><input ng-model="card.maxPayment" type="number" ng-min="{{card.minPayment}}"
                                ng-max="{{card.cardBalance}}"></td>
                        <td><input ng-model="card.actualPayments" type="number" ng-min="{{card.minPayment}}"
                                ng-max="{{card.cardBalance}}" ng-required="true"></td>

                    </tr>
                    <tr>
                        <td colspan="3"> <button class="btn btn-primary" ng-click="addCard()">New Card</button></td>
                        <td colspan="3"><button class="btn btn-info" ng-click="getData()">Get Optimal Payment</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Note that we bind the data and lebels here! so we could have many charts!! -->
        <div class="row">
            <div class="col">
                <!-- current -->
                <canvas id="doughnut" width="auto" height="auto" class="chart chart-doughnut"
                    chart-data="currentPaymentData" chart-labels="labels" chart-options="currentPayOptions"></canvas>
            </div>
            <div class="col">
                <!-- suggested -->
                <canvas id="doughnut" width="auto" height="auto" class="chart chart-doughnut" chart-data="suggesteddata"
                    chart-labels="labels" chart-options="suggestedPayOptions"></canvas>
            </div>
        </div>

        <div ng-show="progressLabels" class="row">
            <div>
                <select ng-model="selectedName" ng-options="label for label in progressLabels"></select>
            </div>
            <div class="card">
                <div class="card-header">
                    Remaining Balance
                </div>
                <div class="card-body">
                    <div>
                        <canvas id="bar" width="auto" height="auto" class="chart chart-bar"
                            chart-data="specificSeriesData()" chart-labels="months" chart-series="series"
                            chart-options="remainingBalanceOptions" chart-click="onClick">
                        </canvas>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>

<script type="text/javascript">
    var app = angular.module('myApp', ["chart.js"]);
    app.controller('myCtrl', function ($scope, $http) {
        // initialize some cards
        $scope.cards = [
            { cardNickName: 'Prime', cardBalance: 100, cardApr: 10, minPayment: 5, maxPayment: 100, actualPayments: 10 },
            { cardNickName: 'United', cardBalance: 200, cardApr: 15, minPayment: 7, maxPayment: 200, actualPayments: 10 }
        ];

        // The budget
        $scope.budget = 20;

        // Add cards: TODO - user must have different nicknames for all cards
        $scope.addCard = function () {
            $scope.cards.push({ cardNickName: 'New', cardBalance: null, cardApr: null, minPayment: null, maxPayment: null });
        };

        // this is for the bar chart
        $scope.onClick = function (points, evt) {
            console.log(points, evt);
        };

        // this function will be used to get the proper data for the selected card
        $scope.specificSeriesData = function () {
            if ($scope.progressSeries) {
                return $scope.progressSeries[$scope.selectedName].data;
            }
        };

        // title option
        $scope.currentPayOptions = {
            title: {
                display: true,
                text: 'Current Payment'
            }
        };

        $scope.suggestedPayOptions = {
            title: {
                display: true,
                text: 'Suggested Payment'
            }
        };

        $scope.remainingBalanceOptions = {
            title: {
                display: true,
                text: 'Remaining Balance'
            }
        };

        // this will get the optimal data solely for one month
        $scope.getOptimal = function () {
            var dataObj = {
                budget: $scope.budget,
                cards: $scope.cards
            };

            var url = 'https://ccrdapi.herokuapp.com/cards';

            $http.post(url, dataObj).then(function (response) {

                $scope.updatedData = response.data;
                $scope.suggesteddata = response.data.updatedCards.map(x => x.suggestedPayment);
                $scope.labels = response.data.updatedCards.map(x => x.cardNickName);
                $scope.currentPaymentData = response.data.updatedCards.map(x => x.actualPayments);

            }, function (error) {

                console.log(error)

            });
        };

        // this will get the next 13 months data. Obviously the stupid assumption of constant payment is bad
        $scope.getProgress = function () {
            var dataObj = {
                budget: $scope.budget,
                cards: $scope.cards
            };

            console.log(dataObj);

            var url = 'https://ccrdapi.herokuapp.com/cards/12';

            $http.post(url, dataObj).then(function (response) {

                $scope.progressData = response.data;
                $scope.progressLabels = $scope.labels.map(x => x);
                $scope.progressLabels.push('TOTAL');
                $scope.months = response.data.progress[0].projection.map(x => Object.keys(x)[0]);
                $scope.series = ["Minimum Payments", "Current Payments", "Suggested Payments"];
                // complication - might want to have tabs so that user can actually select which card to use!
                // tab names would be the card nicknames already bound to label
                // so we can generate a dinctionay where key - card nickname and value is: array of 3 serries :)
                var progress = response.data.progress;
                var progressArray = {};
                var totalArray = [
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], // minArray
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], // current
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0] // suggested
                ];

                for (i = 0; i < progress.length; i++) {
                    var thename = progress[i].cardNickName;
                    var minArray = [];
                    var currentArray = [];
                    var suggestedArray = [];
                    var projection = progress[i].projection;

                    for (j = 0; j < projection.length; j++) {
                        var vals = Object.keys(projection[j]).map(function (key) {
                            return projection[j][key];
                        });

                        minArray.push(vals[0].nextBalanceOnMin);
                        currentArray.push(vals[0].nextBalanceOnCurrentPayment);
                        suggestedArray.push(vals[0].nextBalanceOnSuggested);
                    };

                    // add the total
                    totalArray[0] = [...minArray.keys()].map(k => totalArray[0][k] + minArray[k]);
                    totalArray[1] = [...minArray.keys()].map(k => totalArray[1][k] + currentArray[k]);
                    totalArray[2] = [...minArray.keys()].map(k => totalArray[2][k] + suggestedArray[k]);

                    progressArray[thename] = {
                        'cardNickName': thename,
                        'data': [
                            minArray,
                            currentArray,
                            suggestedArray
                        ]
                    };
                };

                progressArray['TOTAL'] = {
                    'cardNickName': 'TOTAL',
                    'data': totalArray
                };
                $scope.progressSeries = progressArray;
                $scope.selectedName = 'TOTAL';

            }, function (error) {

                console.log(error)

            });
        };

        // this just brings together the two functions for that reach the API
        $scope.getData = function () {
            $scope.getOptimal();
            $scope.getProgress();
        };
    });
</script>

</html>